<!-- <h1>{{ title }}</h1>
<nav>
  <ul>
      <li><a routerLink="">Main</a></li>
       <li><a routerLink="/news">News</a></li>
       <li><a routerLink="/prise">Prise</a></li>
       <li><a routerLink="/about">About</a></li>
  </ul>
</nav>

<section>
  <p>Username: <input type='text' [(ngModel)]='userName'/></p>
  <button (click)='search()'>click for avatar</button>
  <div *ngIf='responce'>
    <img src='{{responce.avatar_url}}' alt='userAvatar'/>
  </div>
</section> -->

<app-my-new></app-my-new>

<router-outlet></router-outlet>
